supabase
httpx
websockets
feedparser
atproto
google-generativeai
google-api-python-client==2.134.0
finnhub-python==2.4.28
yfinance==0.2.40
beautifulsoup4==4.12.3
lxml==5.2.2
python-dateutil==2.9.0
textblob==0.18.0
youtube-transcript-api==0.6.3
python-dotenv

